# Firebase Configuration
# This file serves as a template for setting up Firebase configuration variables.
# To use Firebase in your project, replace the placeholder values below with your actual Firebase configuration.

# Firebase API Key
FIREBASE_API_KEY=your_api_key

# Firebase Auth Domain
FIREBASE_AUTH_DOMAIN=your_auth_domain

# Firebase Database URL
FIREBASE_DATABASE_URL=your_database_url

# Firebase Project ID
FIREBASE_PROJECT_ID=your_project_id

# Firebase Storage Bucket
FIREBASE_STORAGE_BUCKET=your_storage_bucket

# Firebase Messaging Sender ID
FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id

# Firebase App ID
FIREBASE_APP_ID=your_app_id

# Firebase Measurement ID
FIREBASE_MEASUREMENT_ID=your_measurement_id

# Firebase / GCP OAuth Configuration
IOS_CLIENT_ID_OAUTH=your_ios_client_id_if_any
IOS_REVERSED_CLIENT_ID=your_ios_reversed_client_id_if_any
ANDROID_CLIENT_ID_OAUTH=your_android_client_id_if_any
WEB_CLIENT_ID_OAUTH=your_web_client_id_if_any
REDIRECT_URI=your_redirect_uri_if_any

# Firebase Cloud Messaging Configuration
GCM_SENDER_ID=your_gcm_sender_id

# Firebase Project Number
PROJECT_NUMBER=your_project_number

# Firebase App Bundle ID (the unique identifier for your app in the App Store or Play Store)
BUNDLE_ID=your_bundle_id

# Firebase Realtime Database URL
DATABASE_URL=your_database_url



STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

STRIPE_SECRET_KEY=your_stripe_secret_key

# Stripe Backend Endpoint URL
EXPO_PUBLIC_STRIPE_ENDPOINT_URL=your_stripe_backend_endpoint_url
# If you want to run the Stripe backend locally, follow the instructions below:
# (Note: The Stripe backend is already deployed to Vercel, so you don't need to run it locally unless you want to make changes.)
# 1. replace with "http://localhost:3000/api/payment-sheet"
# 2. install Vercel CLI: npm install -g vercel
# 3. run Vercel CLI: vercel dev --listen 3000

# Instructions:
# 1. Replace the placeholder values (e.g., your_api_key, your_auth_domain) with your actual Firebase configuration values.
# 2. Rename this file to .env and fill in the values accordingly.
# 3. Do NOT commit the actual .env file containing real values to version control systems (e.g., Git).
# 4. Developers should create their own .env files based on this template with their actual Firebase configuration values.
