<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_K3-c89vSrQAnSII0wq7Q2QCgGT1Xl2M</string>
	<key>GCM_SENDER_ID</key>
	<string>983400403511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swent.knight</string>
	<key>PROJECT_ID</key>
	<string>swent-g25</string>
	<key>STORAGE_BUCKET</key>
	<string>swent-g25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983400403511:ios:fd4d244e714af6924ae5b2</string>
</dict>
</plist>